#places-to-visit{

   aside{
       display: none;

       @include md{
           display: list-item;
       }
   } 

   .v-img-ht{
    height: 114px;

    @include md{
        height: 380px;
    }



   }

   #v-img-1{
    background-image: url("../img/places-to-visit/place1.jpg");
    background-position: center;
    background-size: cover;
    
   }

   #v-img-2{
    background-image: url("../img/places-to-visit/place2.jpg");
    background-position: center;
    background-size: cover;

   }

   #v-img-3{
    background-image: url("../img/places-to-visit/place3.jpg");
    background-position: center;
    background-size: cover;
 
   }

   >section{
@include xl{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-areas: ". contain-visitplaces ."
}
   ul{
@include xl{
    grid-area: contain-visitplaces;

}
    #visit-1{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-areas: 
    "nb content"
    "nb button";

    #no-1{
        grid-area: nb;
    }
    #v-content-1{
        grid-area: content;
    }
    #v-button-1{
        grid-area: button;
        @include md{
            display: none;
        }
    }
   }


   #visit-2{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-areas: 
    "nb content"
    "nb button";

    #no-2{
        grid-area: nb;
    }
    #v-content-2{
        grid-area: content;
    }
    #v-button-2{
        grid-area: button;
        @include md{
            display: none;
        }
    }
   }

   #visit-3{
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-areas: 
    "nb content"
    "nb button";

    #no-3{
        grid-area: nb;
    }
    #v-content-3{
        grid-area: content;
    }
    #v-button-3{
        grid-area: button;
        @include md{
            display: none;
        }
    }
   }

   @include md{

    #visit-1{
        display: grid;
        grid-template-columns: 30px 20% auto 150px;
        grid-template-areas: 
        ". nb content ."
        ". nb button .";
    
        #no-1{
            grid-area: nb;
        }
        #v-content-1{
            grid-area: content;
        }
        >aside{
            grid-area: button;
        }
       }
       #visit-2{
        display: grid;
        grid-template-columns: 30px 20% auto 150px;
        grid-template-areas: 
        ". nb content ."
        ". nb button .";
    
        #no-2{
            grid-area: nb;
        }
        #v-content-2{
            grid-area: content;
        }
        >aside{
            grid-area: button;
        }
       }
       #visit-3{
        display: grid;
        grid-template-columns: 30px 20% auto 150px;
        grid-template-areas: 
        ". nb content ."
        ". nb button .";
    
        #no-3{
            grid-area: nb;
        }
        #v-content-3{
            grid-area: content;
        }
        >aside{
            grid-area: button;
        }
       }
    
      
    
       
   }

   @include lg{

    #visit-1{
        display: grid;
        grid-template-columns: auto 10% 30% 30% auto;
        grid-template-areas: 
        ". nb content button .";
    
        #no-1{
            grid-area: nb;
        }
        #v-content-1{
            grid-area: content;
        }
        >aside{
            grid-area: button;
            display: flex;
            margin-top: auto;
            text-align: justify;
            
        }
       }
       #visit-2{
        display: grid;
        grid-template-columns: auto 10% 30% 30% auto;
        grid-template-areas: 
        ". nb content button .";
    
    
        #no-2{
            grid-area: nb;
        }
        #v-content-2{
            grid-area: content;
        }
        >aside{
            grid-area: button;
            display: flex;
            margin-top: auto;
            text-align: justify;
        }
       }
       #visit-3{
        display: grid;
        grid-template-columns: auto 10% 30% 30% auto;
        grid-template-areas: 
        ". nb content button .";
    
    
        #no-3{
            grid-area: nb;
        }
        #v-content-3{
            grid-area: content;
        }
        >aside{
            grid-area: button;
            display: flex;
            margin-top: auto;
            text-align: justify;
        }
       }
    
      
    
       
   }
}
}
}