/* =============
    Why NJ
============= */

#why-nj{
    // @include xl{
    //     display: grid;
    //     grid-template-columns: auto 1200px auto;
    //     grid-template-areas: ". content .";

    //     ul{
    //         grid-area: content;
    //     }
    // }


    #new-jersey{
        display: grid;



        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: 
        ". title ."
        ". photo1 ."
        ". photo4 ."
        ". button .";


        #nj-title{
            grid-area: title;
        }

        #ig-contain-1{
            grid-area: photo1;
        }

        #ig-contain-4{
            grid-area: photo4;
        }

        #ig-button{
            grid-area: button;

            @include md{
                display: none;
            }
        }

        @include md{

            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "title title"
            "photo1 p1"
            "photo2 photo3"
            "p2 photo4";

            #nj-title{
                grid-area: title;
            }
    
            #ig-contain-1{
                grid-area: photo1;
            }

            #ig-contain-2{
                grid-area: photo2;
            }

            #ig-p1{
                grid-area: p1;
            }

            #ig-contain-3{
                grid-area: photo3;
            }

            #ig-p2{
                grid-area: p2;
            }
    
            #ig-contain-4{
                grid-area: photo4;
            }
        }



        @include lg{

            border: 1px solid red;

            display: grid;
            grid-template-columns: 10% auto 10% 10% auto 10%;
            grid-template-areas: 
            "title title title title title title"
            "photo1 photo1 p1 p1 p1 p1"
            ". photo2 photo2 photo3 photo3 ."
            "p2 p2 p2 p2 photo4 photo4";

            // question -- so here the grid is mostly working but the paragraphs are not cooperating


            #nj-title{
                grid-area: title;
            }
    
            #ig-contain-1{
                grid-area: photo1;

                
            }

            #ig-contain-2{
                grid-area: photo2;
            }

            #ig-p1{
                grid-area: p1;
            }

            #ig-contain-3{
                grid-area: photo3;
            }

            #ig-p2{
                grid-area: p2;
            }
    
            #ig-contain-4{
                grid-area: photo4;
            }
        }
    }




    #ig1{
        background-image: url("../img/why-NJ/ig1.png");
        background-position: center;
        background-size: cover;
        height: 228px;

        @include lg{
            height: 325px;

        }
        }

    #ig2{

        background-image: url("../img/why-NJ/ig2.png");
        background-position: center;
        background-size: cover;
        height: 228px;

        display: none;

        @include md{
            display: list-item;
        }
        @include lg{
            height: 325px;

        }

    }
    #ig3{

        background-image: url("../img/why-NJ/ig3.png");
        background-position: center;
        background-size: cover;
        height: 228px;

        display: none;

        @include md{
            display: list-item;
        }
        @include lg{
            height: 325px;

        }

    }
    #ig4{

        background-image: url("../img/why-NJ/ig4.png");
        background-position: center;
        background-size: cover;
        height: 228px;

        @include lg{
            height: 325px;

        }
    }

 
    }


    .nj-description{
        display: none;

        @include md{
            display: list-item;
        }
    }

   

    
    


